<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Results_to_Show</key>
	<integer>8</integer>
	<key>Your_Giphy_API</key>
	<string>Ve1zgS1pDBYXVBUcQNIrlEcPpGXRtpLC</string>
</dict>
</plist>
